.lien-icone{
    margin:1px;
}
.lien-icone:hover{
    opacity: 0,2;
}
img{
    width:10%;
    min-width: 40px;
}
nav{
    display: flex;
    background-color: #c388ff;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 30px 30px 30px 30px;
    color:whitesmoke;
    position:sticky;
}

a{
    color: #edddfe;
    text-decoration: none;
}
a:hover{
    color: #79549e;
    text-decoration: underline;
}
body{
    font-family: 'Manrope',sans-serif;
    font-size: 1em;
    background-color: #1f2039;
}

h1{
    font-size:4em;
    color:#a5b4fc;
}

h2{
    font-size : 3em;
    color:#a5b4fc;
}

h3{
    font-size : 2em;
    color:#a5b4fc;
}

li{
    color:azure;
}

p{
    color: azure;
}

.deroulement{
    background-color:#a5b4fc6f;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 0px 20px 0px 20px;
}

.fin_manche{
    background-color:#a5b4fc6f;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 0px 20px 0px 20px;
}

.cartes_speciales{
    background-color:#a5b4fc6f;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
}
.preparation{
    background-color:#a5b4fc6f;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
}
table{
    border-collapse: collapse;
    border-color: #1f2039;
}

td,th{
    border: black;
    color:beige;
    padding : 10px;
}

.points{
    background-color:#a5b4fc6f;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
}

.manches{
    background-color:#a5b4fc6f;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
}

.comptage_points{
    background-color:#a5b4fc6f;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
}